.form {
    display: flex;
    flex-direction: column;
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
    padding: $spacing-s;
}

.form__header {
    font-size: $h2;
    margin-bottom: $spacing-s;
}

.form__input {
    height: 3vh;
    font-size: $caption;
}

.form__input,
.form__label {
    
    cursor: pointer;
    margin-bottom: $spacing-s;
}
