.form {
    display: flex;
    flex-direction: column;
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
    padding: $spacing-s;
}

.form__header {
    font-size: $h2;
    margin-bottom: $spacing-s;
}

.form__input {
    font-size: $caption;
    height: 3em;    
}

.form__input,
.form__label {
    cursor: pointer;
    margin-bottom: $spacing-s;
}

.form__label--description{
    margin-bottom: $spacing-m;
}

.form__button{
    display: flex;
    justify-content: right;
}