// Spacing scale - margins & padding
$base-space: 1rem;
$spacing-xxs: calc(#{$base-space} / 8); // 2px spacing
$spacing-xs: calc(#{$base-space} / 4);// 4px spacing
$spacing-s: calc(#{$base-space} / 2);// 8px spacing
$spacing-m: $base-space; // 16px spacing
$spacing-l: calc(#{$base-space} * 2); // 32px spacing
$spacing-xl: calc(#{$base-space} * 4); // 64px spacing
$spacing-xxl: calc(#{$base-space} * 8); // 128px spacing

//Project colours
$background-colour: #25293c;
$primary-text-colour: #222c3a;
$secondary-text-colour: #ffffff;
$button-colour: #25a1e4;
$button-hover-color: #7dafe4;
