// Spacing scale - margins & padding
$base-space: 1rem;
$spacing-xxs: calc(#{$base-space} / 8); // 2px spacing
$spacing-xs: calc(#{$base-space} / 4);// 4px spacing
$spacing-s: calc(#{$base-space} / 2);// 8px spacing
$spacing-m: $base-space; // 16px spacing
$spacing-l: calc(#{$base-space} * 2); // 32px spacing
$spacing-xl: calc(#{$base-space} * 4); // 64px spacing
$spacing-xxl: calc(#{$base-space} * 8); // 128px spacing

//Project colours
$background-colour: #25293c;
$background-colour-light: #f7f7f7;
$primary-text-colour: #293649;
$secondary-text-colour: #ffffff;
$text-colour-grey: #666666;
$button-colour: #25a1e4;
$button-hover-color: #7dafe4;
$button-delete-colour: #dd464b;
$button-delete-hover: #f4888b;

// Media query
$breakpoint-desktop: 45em;
